body {
  font-family: 'Roboto', sans-serif;
}

.container {
  display: grid;
  justify-items: center;
}

.set-up-container {
  position: absolute;
  top: 125px;
  background-color: #fff;
  height: 500px;
  width: 1000px;
  display: grid;
  align-items: center;
  justify-content: center;
}

#form {
  width: 500px;
  display: grid;
  gap: 24px;
  justify-items: center;

}

.player-name-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.player-one-div, .player-two-div {
  display: grid;
  text-align: center;
  gap: 2px;
}

input {
  border-radius: 5px;
  padding: 6px;
  text-align: center;
  border: 1px solid #e4e4e4;
}

h1 {
  text-align: center;
}

.winner-container {
  height: 50px;
  display: grid;
  align-content: center;
}

.winner-display-msg {
  margin: 0;
  font-size: 1.5rem; 
  align-items: center;
}

.player-turn {
  font-size: 1rem;
  height: 50px;
}

.game-container {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
}

.game-container>div {
  height: 100px;
  width: 100px;
}

.button {
  border: none;
  background-color: #e4e4e4;
  border-radius: 8px;
}

.button.disabled {
  background-color: #e4e4e4;
}

.button:hover {
  background-color: beige;
}

button[data-cell-value="X"] {
  background-color: rgb(194, 255, 255);
  font-size: 3rem;
  color: black;
}

button[data-cell-value="O"] {
  background-color: rgb(255, 198, 198);
  font-size: 3rem;
  color: black;
}

.play-again-div {
  display: grid;
  height: 75px;
  align-items: center;
}

.start-btn, .play-again-btn {
  border: none;
  padding: 8px 12px;
  font-size: 1rem;
  border-radius: 8px;
  background-color: #e4e4e4;
}

.start-btn:hover, .play-again-btn:hover {
  background-color: beige;
}
