body {
  font-family: 'Roboto', sans-serif;
}

.container {
  display: grid;
  justify-items: center;
}

h1 {
  text-align: center;
}

.winner-container {
  height: 50px;
}

.player-turn {
  font-size: 1rem;
  height: 50px;
}

.game-container {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
}

.game-container>div {
  height: 100px;
  width: 100px;
}

.button {
  border: none;
  background-color: #e4e4e4;
}

.button.disabled {
  background-color: #e4e4e4;
}

.button:hover {
  background-color: beige;
}

button[data-cell-value="X"] {
  background-color: rgb(194, 255, 255);
  font-size: 3rem;
  color: black;
}

button[data-cell-value="O"] {
  background-color: rgb(255, 198, 198);
  font-size: 3rem;
  color: black;
}

.play-again-div {
  display: grid;
  height: 50px;
  align-items: center;
}
