.container {
  display: grid;
  justify-content: center;
}

h1 {
  text-align: center;
}

.game-container {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
}

.game-container>div {
  height: 100px;
  width: 100px;
}

.button {
  border: none;
}

.button:hover {
  background-color: beige;
}

.button.X {
  background-color: rgb(194, 255, 255);
  color: black;
}

.button.O {
  background-color: rgb(255, 198, 198);
  color: black;
}